html{
    font-size: 10px;
    box-sizing: border-box;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img1{
    width: 2rem;
    height: 3rem;
}
.img2{
    width: 3rem;
    height: 3rem;
}
.img3{
    width: 3rem;
    height: 3rem;
}
.header{
    display: flex;
    flex-direction: row;
    gap: 90rem;
    margin: 5rem;
}
.cnt1{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    
}
.cnt2{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: rgb(83, 83, 133);
    font-weight: bolder;
  
}
.cnt3{
    display: flex;
    flex-direction: row;
}

.p1{
    font-size: 2rem;
    color: rgb(83, 83, 133);
    margin: 0.2rem;
    font-weight: bold;

}
.cnt4{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    border: 0.1rem solid rgb(208, 208, 216);
    border-radius:2rem;
}
.cnt5{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.p2{
    margin: 0.5rem;
    color: rgb(83, 83, 133);
}
.img5 {
    width: 100vw;
    height: 30rem;
}
.ima{
    width: 20rem;
    height: 20rem;
}


.img6{
    width: 8rem;
    height: 2rem;
    margin: 0.5rem;
}
.cnt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10rem;
    gap: 10rem;
}
.title{
    font-size: 1rem;
    font-weight: bolder;
    color: rgb(47, 77, 70);
}
.des{
    width: 20rem;
    color: rgb(141, 141, 141);
}
.bt{
    background-color: rgb(47, 77, 70);
    border: none;
    border-radius: 0.7rem;
    height: 5rem;
    width: 15rem;
 color: white;
}

.bt1{
    width: 5rem;
    border-radius:0.7rem;
    height: 4rem;
    border-color: rgba(59, 59, 136, 0.3);
  
}
.c{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
}
.val{
    font-size: 1.5rem;
}
.price{
    font-size: 1rem;
    font-weight: bolder;
    color: rgb(63, 63, 99);
}