.caracterBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   border-radius: 0.4rem;
    width: 18rem;
    height: 3rem;
    margin-left: 1rem;
   
  
}
.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}
.symbol{
    height: 1rem;
    width: 1rem;

}
.rate{
    display: flex;
    flex-direction: row;
    margin-right:2rem;
}
.echel{
    color: rgb(146, 145, 145);
}